{% extends 'base.html.twig' %}

{% block title %}Hello RandomController!{% endblock %}

{% block body %}
    <div>{{ random.writing }} {{ random.meaning }} {{ random.furigana }} {{ random.level }}</div>
{% endblock %}
